@font-face { font-family: 'TrajanPro-Regular'; src:  url('/css/webfont/TrajanPro-Regular.ttf') format('truetype') }

*{
  font-family: 'Open Sans', sans-serif;
}
.affix{
  position: fixed;
    height: 78px;
    background: #fff;
}
.owl-prev{
  /* float: left; */
  background: #362D6C!important;
  color:#fff!important;
  
}

.owl-next{
  /* float: right; */
  background: #362D6C!important;
  color:#fff!important;
}

.logo-pc{
    display: block;
}

.d-true{
    display: block!important;
}

.pic-width{
  width:47%!important;
}
@media only screen and (max-width: 760px) {
  .logo-pc{
        display: none;
    }
    .pic-width{
      width:94%!important;
    }

    .contact-margin{
      margin-top:75%!important;
    }
}